
.fast{
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#themecolors .selector, .cursor-pointer {
    cursor: pointer;
}

.img-avatar {
    height: 200px;
    width: 200px;
}